# - - - - GLOBAL - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

[*]

end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
charset = utf-8


# - - - - MARKDOWN - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Markdown uses the trailing whitespaces.
# https://daringfireball.net/projects/markdown/syntax#block
trim_trailing_whitespace = false
